*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
body{
    background: #c4d7f2;
    color: black;
    font-family: ubuntu, sans-serif;
}
li {
    list-style: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 17px;
}

p {
    font-size: 16px;
}

input:focus {
    outline: none;
}
/* Background of header */

.background {
    width: 100%;
    height: 95vh;
    background: linear-gradient(45deg, rgb(32 150 228), rgb(0 170 208), #38a6c7, #017ddc, #3352ec, #8c3bf7, #ba2bf5);
    background-position: 85%;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 130px 100px;
    color: aliceblue;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6em), 8em 100%, 0 100%);
    background-size: 600%;
    animation: move-a 15s cubic-bezier(0.77, 0.4, 0.15, 0.64) infinite;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@keyframes move-a {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.boxes {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.boxes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.5);
    animation: ani-car 10s linear infinite;
    border-radius: 10px;
    filter: blur(6px);
}

.boxes li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.boxes li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.boxes li:nth-child(3) {
    left: 50%;
    width: 30px;
    height: 30px;
    animation-delay: 5.5s;
}

.boxes li:nth-child(4) {
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.boxes li:nth-child(5) {
    left: 76%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}

.boxes li:nth-child(6) {
    left: 26%;
    width: 35px;
    height: 35px;
    animation-delay: 3.5s;
    animation-duration: 12s;
}

.boxes li:nth-child(7) {
    left: 45%;
    width: 30px;
    height: 30px;
    animation-delay: 3s;
    animation-duration: 8s;
}

.boxes li:nth-child(8) {
    left: 78%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
}

.boxes li:nth-child(9) {
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 5s;
}

@keyframes ani-car {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}



.boxcaption {
    width: 80%;
    position: absolute;
    margin-top: 30vh;
    z-index: 2;
}

.boxcaption a {
    margin: 10px 0px 0px 0px;
    color: black;
    background: aliceblue;
    border: solid 2pt transparent;
    border-radius: 40px;
    padding: 15px 50px;
    transition: .2s;
    position: absolute;
    display: flex;
    font-weight: 600;
    box-shadow: 4px 4px 5px #00000050;
    font-size: 110%;
}

.boxcaption a:hover {
    background: transparent !important;
    color: aliceblue;
    border: solid 2pt white;
    transition: .2s;
}






.line-separation {
    width: 60%;
    margin: 80px auto;
    height: 4px;
    background-color: #25252550;
    border-radius: 4px;
}

.intro {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.rot {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0px 0px;
    padding: 0 75px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rot span:nth-child(1) {
    background-color: transparent;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    border: solid 4px #ff7c0b;
    border-bottom-color: transparent;
    border-top-color: transparent;
    animation: rotate-it-right 3s infinite linear;
    animation-delay: 0s;
}

.rot span:nth-child(2) {
    background: linear-gradient(0deg, transparent 35.999%, black 35.1%, black 64.999%, transparent 65%);
    width: 125px;
    height: 125px;
    position: absolute;
    z-index: 3;
    margin: 12.5px 12.5px;
    border-radius: 50%;
    animation: rotate-it 2s infinite linear;
    display: inline-flex;
    justify-content: center;
    align-items: center;



}

.rot span:nth-child(2)::after {
    content: "";
    background-color: #c4d7f2;
    border-radius: 50%;
    position: absolute;
    width: 121px;
    height: 121px;
}

.rot span:nth-child(3) {
    background-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 4;
    margin: 25px 25px;
    border-radius: 50%;
    border: solid 3px #b7b7b7;
    border-bottom-color: transparent;
    border-top-color: transparent;
    animation: rotate-it 2s infinite linear;
    animation-delay: 0s;
}

.rot i {
    background-color: transparent;
    width: 150px;
    position: absolute;
    z-index: 5;
    margin-top: -10px;
    text-align: center;
    user-select: none;
    font-size: 50px;
    color: #ff7c0b;
}

@keyframes rotate-it {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate-it-right {
    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.linevertical {
    width: 3px;
    height: 150px;
    background-color: #25252550;
    border-radius: 4px;
    margin: 0 20px;
}

.introtext {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.intro h2 {
    margin: 0px auto 20px auto;
    width: 100%;
    text-align: left;
}

.intro p {
    margin: 0px auto;
    width: 100%;
    text-align: justify;
    -webkit-text-justify: inter-character;
    text-justify: inter-character;
}

.intro a {
    margin: 0px auto 20px auto;
    color: aliceblue;
    background-color: #00796b;
    border-radius: 100px;
    padding: 15px 30px;
    transition: .2s;
}

.intro a:hover {
    background-color: #009688;
    transition: .2s;
}

.title1 {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    background-color: #38485f;
    color: aliceblue;
    padding-top: 50px
}





.spacing-top{
    margin-top: 20px;
}
.courses-contents{
    padding: 50px 0;
    width: 100%;
}
.list-accordions{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.accordion-button{
    background: #1172fa;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: aliceblue;
    border-bottom: solid 3px white;
    transition: .3s;
    position: relative;
}
.accordion-button-active{
    background: #5693fc;
    background-position: 20% -95%;
    background-size: 250% 450%;
    transition: .3s;
    box-shadow: 0px 4px 10px -5px #000000aa;
    padding: 15px 20px;
}

.accordion-button-items{
    display: flex;
    flex-direction: row;

}
.accordion-infos{

}
.moodle-disponibility{
    margin-top: 5px;
    text-align: center;
    width: 170px;
    background: #ff240e;
    padding: 7px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
.none-disponibility{
    margin-top: 5px;
    text-align: center;
    width: 140px;
    background: #505050;
    padding: 7px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
.accordion-button-open{
    width: 20px;
    height: 20px;
    background: aliceblue;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: rotate(135deg);
    transition: .3s;
}

.accordion-button-active .accordion-button-open{
    transform: rotate(0deg);
    transition: .3s;
}

.avatar{
    width: 50px;
    height: 50px;
    border: solid 2px white;
    border-radius: 50%;
    font-size: 25px;
    justify-content: center;
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.panel{
    max-height: 0;
    overflow: hidden;
    transition: .3s;
}
.panel-contents{
    background: #dff1f7;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.panel-contents  > *{
    margin-bottom: 20px;
}
.moodle-redirect{
    padding: 15px 10px;
    background: #57d5ff;
    text-align: center;
    border-radius: 50px;
}
.download-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.dwn-left{
    padding: 20px 10px;
    background: aliceblue;
    width: 100%;
    border: solid 1px #555;
}
.dwn-right{
    padding: 20px 60px;
    background: #c7dcff;
    display: flex;
    align-items: center;
    border: solid 1px #555;
    border-left: none;
}





footer {
    width: 100%;
    padding: 50px 60px;
    background-color: #38485f;
    color: aliceblue;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.footer-sub {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer-sub h2 {
    color: aliceblue;
    margin-bottom: 15px;
}

.footer-sub a {
    margin-bottom: 8px;
    transition: .2s;
    background: #f1f1f110;
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
}

.footer-sub a:hover {
    color: aliceblue;
    background: #f1f1f130;
    padding: 10px 10px;
    transition: .2s;
}

.footer-separator {
    width: 1.5px;
    background-color: #daeeff;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    align-items: center;
}

.footer-contact-links {
    display: flex;
    flex-direction: row;
}

.footer-contact-links a {
    margin: 0 5px;
    background-color: aliceblue;
    padding: 8px 15px;
    color: #373737;
    font-size: 20px;
    border-radius: 3px;
    transition: .2s;
}

.footer-contact-links a:hover {
    transform: translateY(-2px);
    transition: .2s;
    background-color: white;
    box-shadow: 0px 0px 15px 2px #fff;
}


@media only screen and (max-width:768px) {

    .background {
        height: 90vh;
        border-bottom-left-radius: 0px 0px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2em), 0em 100%, 0 100%);
    }

    .boxcaption h1 {
        font-size: 32px;
    }

    .boxcaption h2 {
        font-size: 24px;
    }

    .intro {
        padding: 0 5%;
        flex-direction: column;
    }

    .introtext {
        width: 100%;
    }

    .introtext h2 {
        text-align: center;
    }

    .linevertical {
        width: 20%;
        height: 3px;
        margin: 30px 0;
        border-radius: 20px;
    }

    .title1 {
        padding: 50px 10% 2px 10%;
    }

    .list-accordions{
    width: 100%;
    }
    
    .accordion-button {
    display: grid;
    grid-template-columns: 92% 30px;
    padding: 20px 20px;
    border-bottom: solid 6px white;
    }
    
    .accordion-button-items {
    display: grid;
    grid-template-columns: 70px auto;
    }

    .panel-contents {
    background: #dff1f7;
    padding: 50px 20px;
    }
    
    
    footer {
        padding: 50px 5%;
    }

    .footer-content {
        flex-direction: column;

    }

    .footer-sub {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-sub h2 {
        padding-top: 10px;
        border-top: solid #daeeff 2px;
    }

    .footer-separator {
        display: none;
    }

    .footer-contact {
        flex-direction: column;
        justify-content: center;
    }

    .footer-contact h2 {
        margin: 0 auto !important;
    }

    .footer-contact-links {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .footer-contact-links a {
        width: 20%;
        margin: 0 2%;
        padding: 10px 0;
        text-align: center;
        font-size: 25px;
    }

}



.new-dwn-item{
    font-size: 11px;
    background-color: red;
    width: 60px;
    color: aliceblue;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}
.fa-youtube{
    color: red;
}
.youtube-plugins{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.plugin-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}
.plugin-video iframe{
        width: 360px;
        height: 250px;
    }
.plugin-video > *{
    margin-bottom: 15px
}
.video-title{
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width:768px) {

    .plugin-video iframe{
        width: 80vw;
        height: 250px;
    }
    
}